.project_container {
  min-height: 60vh;
  /* border: .2rem solid #70E000; */
  width: 100%;
  text-align: center;
}

.project_container > h1 {
  border: 0.2rem solid var(--orangeyellow);
  background-color: #11181f;
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.project_container > h1:hover {
  border: 0.2rem solid var(--rosarojo);
  transition: .5s;
}