.card:hover {
  border: 0.2rem solid var(--orangeyellow);
  transition: 0.2s !important;
  
}

.card-body {
  padding: 2rem 0 !important;
  
}

.card-title {
  font-size: 2rem;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1.5rem;

}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
  
}

.card-img-top:hover {
  transform: scale(1.8);
  
  
}
.button_card {
  font-size: 1.5rem;
  font-weight: 500;
}