.skill_container {
  min-height: 30vh;
  width: 100%;
/*border: .2rem solid #70E000; */
  display: flex;
  flex-direction: column;
  align-items: center;

/*background-color: crimson; */
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: 1px;
}

.logo_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 15vh;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
  margin: 3rem 3rem;
}

.logo > img {
  width: 80px;
  height: 80px;
}

.logo > h2 {
  width: 100px;
  text-align: center;
}

.skill_container > h1 {
  border: 0.2rem solid var(--orangeyellow);
  background-color: #11181f;
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.skill_container > h1:hover {
  border: 0.2rem solid var(--rosarojo);
  transition: .5s;
}